#navbar-main{
	background: #448aff !important;
	padding: 0 10px !important;
	height: 60px;
}

@media (max-width: 992px) {
	#navbar-main{
		padding: 0 10px !important;
		height: min-width;
	}
}

#social-links{
	display: flex;
	justify-content: center;
	align-items: center;
}

#social-links >  a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
}

@media (max-width: 992px) {
	#social-links{
		flex-direction: column;
	}

	#social-links > a{
		justify-content: start;
		width: 100%;
	}
}