



#main-create-promotion{
    height: 100vh;
    background: url('../../assets/img/theme/place-2.jpg');
	background-size: cover;
}

@media screen and (max-width: 992px){
	#main-create-promotion{
		height: 130%;
		padding-top: 100px;
	}
	.center-content{
		margin-top: 20px;
	}
	.hide-mobile{
		display: none !important;
	}
}

.center-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #5a5a5a;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 30px 0;
}

.tabulation {
    width: 100%;
    float: left;
    margin-top: -7em;
    background: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
    -ms-box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
    -o-box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
}